<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.table_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<p><%= link_to t('.new'), new_admin_railway_station_path, :class => "btn btn-primary" %>
  <%= link_to t('common.back'), home_page_index_path, :class => "btn btn-default" %></p>

