<h1> Билет </h1>

<p> Ticket buyers: <%= @ticket.passenger.email %> </p>
<p> Train: <%= @ticket.train.number %> </p>
<p> Begin Station: <%= @ticket.first_station.title %></p>
<p> End Station: <%= @ticket.last_station.title %> </p>

<p> Passenger FIO: <%= @ticket.passenger_fio %> </p>
<p> Passport_number: <%= @ticket.passport_number%> </p>
