<p>Find Tickets</p>

<div class="row">
    <%= form_tag search_path, class: 'search_form' do %>
      <div class="col-md-4">
        <%= collection_select :stations, :start_station_id, RailwayStation.all, :id, :title, {}, {class: 'form-control'} %>
      </div>
      <div class="col-md-4">
        <%= collection_select :stations, :end_station_id, RailwayStation.all, :id, :title, {}, {class: 'form-control'} %>
      </div>
      <div class="col-md-4">
        <%= submit_tag "Search",  class: 'btn btn-primary find' %>
      </div>
<% end %>
</div>

<p> Search Result </p>
<% if @trains %>
    <% @trains.each do |train| %>
        <p>
          Train: <%= train.number %> | <%= train.route.name %> | <%= train.route.start_time %> | <%= train.route.end_time %>
          <%= link_to 'Buy Ticket', new_ticket_path(train_id: train.id, start_station_id: @start_station, end_station_id: @end_station) %>
        </p>
    <% end %>
<% end %>
