<%= form_for [@train, @wagon.becomes(Wagon)] do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
      <%= f.label :train, "Train" %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <%= f.label :type, "Type of wagon" %>
      <%= f.select :type, ([CoupeWagon.name, EconomyWagon.name, SvWagon.name, SeatWagon.name]) %>
    </div>

    <div class="field">
      <%= f.label :upper_berth, "Count Top places" %>
      <%= f.select :upper_berth, ((0..10).map {|i| [i,i] }) %>
    </div>

    <div class="field">
      <%= f.label :lower_berths, "Count Bottom places" %>
      <%= f.select :lower_berths, ((0..10).map {|i| [i,i] }) %>
    </div>

    <div class="field">
      <%= f.label :side_top_seats, "Count Side Top places" %>
      <%= f.select :side_top_seats, ((0..10).map {|i| [i,i] }) %>
    </div>

    <div class="field">
      <%= f.label :side_bottom_seats, "Count Side Bottom places" %>
      <%= f.select :side_bottom_seats, ((0..10).map {|i| [i,i] }) %>
    </div>

    <div class="field">
      <%= f.label :seat_places, "Count Seat places" %>
      <%= f.select :seat_places, ((0..10).map {|i| [i,i] }) %>
    </div>

    <div class="actions">
      <%= f.submit "#{@wagon.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
